<article class="text--justified">
  <header><h2>Astronauts</h2></header>

  <table *ngIf="astronauts">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let astronaut of astronauts.astronauts">
        <td>{{astronaut.name}}</td>
        <td>
          <a [routerLink]="['/astronauts', astronaut.id]">View</a>
        </td>
        <td>
          <a [routerLink]="['/astronauts', astronaut.id, 'edit']">Edit</a>
        </td>
        <td>
          <button (click)="onDelete(astronaut)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</article>
